body {
   font-size: 22px;
   font-family: Garamond, Times, serif;
}

.number {
   padding: 0px 10px 0px 10px;
}

.number {
   padding: 0px 10px 0px 10px;
   color: red;
}

.number:hover {
   color: blue;
}

h1 {
   display: inline;
}

p {
   width: 800px;
}

.footnote {
   position: fixed;
   bottom: 0px;
   left: 0px;
   display: none;
}

.footnote.showme {
   color: red;
   display: block;
}

.thumbnail {
   width: 100px;
   transition: 2s;
}

.thumbnail.enlarge {
   width: 1000px;
}
