* {
  padding: 0px;
  margin: 0px;
}

body {
   background-color: #F3E3CD;
   color: black;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted black;
   font-size: 22px;
   vertical-align: top;
   color: #F3E3CD;
   text-shadow:
   -1px -1px 0 #11AEBF,
    1px -1px 0 #11AEBF,
    -1px 1px 0 #11AEBF,
     1px 1px 0 #11AEBF;
}

.top-menu a:hover {
   font-style: oblique;
}

.wrapper {
   width: 1000px;
   padding: 120px 0em 120px 80px;
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 120px; /* Chrome, Safari, Opera */
    -moz-column-gap: 120px; /* Firefox */
    column-gap: 120px;
    column-width: 40px;
}

#author {
   padding-bottom: 1em;
}

#author h2 {
   font-size: 1.15em;
   font-family: arial, sans-serif;
   font-weight: bold;
   color: #11AEBF;
}

.title {
   text-decoration: underline;
   color: #11AEBF;
}

#author + .body {
   text-indent: 0em;
}

.sub + .body {
   text-indent: 1.5em;
   padding-top: 0.15em;
}

.body {
   font-size: 1.15em;
   text-indent: -1.5em;
   font-family: Times, Big Caslon, serif;
}

.quote {
   font-size: 1.15em;
   padding: 1em 0em 2em 1.5em;
   font-style: italic;
   text-align: left;
}

.sub {
   padding-top: 1.25em;
   font-weight: bold;
   font-size: 1.15em;
   font-family: arial, sans-serif;
   text-indent: 1.5em;
   color: #11AEBF;
}

.quote + .body {
   text-indent: 1.5em;
}

#liIntro {
   padding-top: 1.25em;
   font-size: 1.15em;
   text-indent: 0em;
   font-family: Times, Big Caslon, serif;
}

ul {
   padding-top: 1em;
   margin-left: 0em;
   padding-left: 0em;
   padding-bottom: 2em;
}

ul li {
   margin-left: 3em;
   padding: 0;
   font-size: 1.15em;
   list-style-position: outside;
   list-style: square;
}

#return {
   font-size: 1.15em;
   font-family: times, Big Caslon, serif;
   color: black;
   display: inline-block;
   padding: 3em 0em 6em 0em;
}
