* {
  padding: 0px;
  margin: 0px;
}

body {
   background-color: #F3E3CD;
   color: black;
}

.wrapper {
   width: 30em;
   padding: 3.5em 0em 0em 0em;
   position: absolute;
   right: 4.5em;
}

#author {
   padding-bottom: 1em;
}

#author h2 {
   font-size: 1.15em;
   font-family: arial, sans-serif;
   font-weight: bold;
   color: #11AEBF;
}

.title {
   text-decoration: underline;
   color: #11AEBF;
}

#author + .body {
   text-indent: 0em;
}

.sub + .body {
   text-indent: 0em;
   padding-top: 0.15em;
}

.body {
   font-size: 1.15em;
   text-indent: -1.5em;
   font-family: Times, Big Caslon, serif;
}

.quote {
   font-size: 1.15em;
   padding: 1em 0em 2em 3em;
   font-style: italic;
   text-align: left;
}

.sub {
   padding-top: 1.25em;
   font-weight: bold;
   font-size: 1.15em;
   font-family: arial, sans-serif;
   text-indent: 1.5em;
   color: #11AEBF;
}

.quote + .body {
   text-indent: 0em;
}

#liIntro {
   padding-top: 1.25em;
   font-size: 1.15em;
   text-indent: 0em;
   font-family: Times, Big Caslon, serif;
}

ul {
   padding-top: 1em;
   margin-left: 0em;
   padding-left: 0em;
   padding-bottom: 2em;
}

ul li {
   margin-left: 3em;
   padding: 0;
   font-size: 1.15em;
   list-style-position: outside;
}

#return {
   font-size: 1.15em;
   font-family: times, Big Caslon, serif;
   color: black;
   display: inline-block;
   padding: 3em 0em 6em 0em;
}
