#title{
   border: 1px solid black;
}

.wrapper{
   float: left;
   display: inline-block;
   width: 500px;
}

#boxCon{
   display: inline-block;
   float: left;
   position: fixed;
}

#boxSpacer{
   display: inline-block;
   float: left;
}

.box{
   border: 1px solid black;
   display: inline-block;
}
.body{
   display: inline-block;
   padding-left:10px;
   margin-left:10px;
}
