* {
   padding: 0px;
   margin: 0px;
}

body {
   overflow-y: scroll;
   overflow-x: hidden;
   margin: 0;
   padding: 0;
   height: 100%;
}

#rules {
  position: absolute;
  display: table;
  bottom: 0px;
  left: 0px;
  background-color: #FFD2DB;
  font-family: courier, monospace;
  font-size: 12px;
  height: 500px;
  width: 37.5%;
  box-shadow: 0px 3.5px 10px black;
  -webkit-box-shadow: 0px 3.5px 10px black;
  transition: bottom 0.5s ease;
}

#rules:hover {
   bottom: 10px;
}

.table-row {
   display: table-row;
}

.cell {
   display: table-cell;
   border-bottom: 1px solid black;
   height: auto;
   text-align: center;
   margin: 0px auto;
   padding-top: 10px;
}

.cell:nth-child(1) {
   border-right: 1px solid black;
   width: 50px;
}

.cell:nth-child(2) {
   text-align: left;
   padding-left: 20px;
}

#heading {
   width: 50%;
   height: 100%;
   background-color: #D7FFDE;
   position: absolute;
   left: 60px;
   bottom: 0px;
   box-shadow: 3.5px 0px 10px -5px black;
   -webkit-box-shadow: 3.5px 0px 10px -5px black;
   transition: bottom 0.5s ease;
 }

 #heading:hover {
    bottom: 10px;
 }

#heading div {
   display: inline-block;
   background-color: #539987;
   color: white;
   height: 70px;
   padding: 10px;
   margin-bottom: 10px;
}

#heading h1 {
   padding: 30px 0px 0px 30px;
   line-height: 70px;
   font-family: 'Cardo', sans-serif;
   font-weight: normal;
   font-size: 80px;
}

#body-text {
   position: absolute;
   width: 37.5%;
   height: 380px;
   background-color: #EEFCF8;
   line-height: 1.25em;
   right: -20px;
   bottom: 0px;
   display: inline-block;
   z-index: 2;
   font-size: 24px;
   font-family: sans-serif;
   box-shadow: 0px 3.5px 10px black;
   -webkit-box-shadow: 0px 3.5px 10px black;
   transition: bottom 0.5s ease;
 }

 #body-text:hover {
    bottom: 10px;
 }

#body-wrap{
   padding: 35px 0px 0px 35px;
}

#banner {
   position: absolute;
   right: 0%;
   bottom: 0px;
   width: 55%;
   height: 120px;
   background-color: #CCFFF9;
   z-index: 1;
   -webkit-box-shadow: 0px 3.5px 10px black;
   box-shadow: 0px 3.5px 10px black;
   transition: bottom 0.5s ease;
 }

 #banner:hover {
    bottom: 10px;
}

#banner p {
   font-size: 50px;
   line-height: 120px;
   padding-left: 30px;
   font-family: 'Asul', times, serif;
}

.lvl {
   position: fixed;
   right: 80px;
   top: 40px;
   display: inline-block;
   width: auto;
   vertical-align: top;
}

.windows {
   margin: 0em 0em 2.5em 2.5em;
   width: 65px;
   height: 65px;
   display: inline-block;
   position: relative;
   background:transparent url("../images/windows-01.svg") center top no-repeat;
   color: black;
   text-align: center;
   vertical-align: middle;
   line-height: 65px;
   font-size: 22px;
   font-family: Arial, sans-serif;
   text-decoration: none;
}

.windows:hover {
   background:transparent url("../images/windows-02.svg") center top no-repeat;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted black;
   color: #2314D1;
   font-size: 22px;
}

.top-menu a:hover {
   font-style: oblique;
}

.btm-menu {
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 4.5em;
   display: block;
   left: 0px;
   z-index: 2;
}

.btm-menu a {
   text-decoration: none;
}

.btm-menu a:hover {
   font-style: oblique;
}

.prev {
   left: 80px;
   bottom: 60px;
   position: absolute;
   font-size: 22px;
   font-family: Arial, sans-serif;
   color: #2314D1;
   text-decoration: underline;
   width: auto;
}

.next {
   right: 80px;
   bottom: 60px;
   position: absolute;
   width: 50px;
}
