* {
   padding: 0px;
   margin: 0px;
}

body {
   font-family: 'Roboto';
   background-color: #08BCCC;
   color: white;

}

#move {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: white;

}

.body-text {
   width: 96.5%;
   padding: 20px 0px 0px 20px;
   font-family: 'Roboto Mono';
   text-transform: uppercase;
   font-size: 40px;
   text-align: justify;
}

.lvl {
   position: fixed;
   right: 80px;
   top: 40px;
   display: inline-block;
   width: auto;
   vertical-align: top;
}

.windows {
   margin: 0em 0em 2.5em 2.5em;
   width: 65px;
   height: 65px;
   display: inline-block;
   position: relative;
   background:transparent url("../images/windows-01.svg") center top no-repeat;
   color: black;
   text-align: center;
   vertical-align: middle;
   line-height: 65px;
   font-size: 22px;
   font-family: Arial, sans-serif;
   text-decoration: none;
}

.windows:hover {
   background:transparent url("../images/windows-02.svg") center top no-repeat;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted black;
   color: #2314D1;
   font-size: 22px;
}

.top-menu a:hover {
   font-style: oblique;
} 

.btm-menu {
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 4.5em;
   display: block;
   left: 0px;
}

.btm-menu a {
   text-decoration: none;
}

.btm-menu a:hover {
   font-style: oblique;
}

.prev {
   left: 80px;
   bottom: 60px;
   position: absolute;
   font-size: 22px;
   font-family: Arial, sans-serif;
   color: #2314D1;
   text-decoration: underline;
   width: auto;
}

.next {
   right: 80px;
   bottom: 60px;
   position: absolute;
   width: 50px;
}
