* {
   padding: 0px;
   margin: 0px;
}

.wrapper {
}

.container {
   display: inline-block;
   height: auto;
}

.btm-menu a:hover {
   font-style: oblique;
}

.prev {
   left: 80px;
   bottom: 60px;
   position: absolute;
   font-size: 22px;
   font-family: Arial, sans-serif;
   text-decoration: underline;
   width: auto;
}
