* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #CCFFCE;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted black;
   color: #3D9975;
   font-size: 22px;
   vertical-align: top;
}

.zone {
   position: absolute;
   font-size: 40px;
   display: inline-block;
   width: 40%;
   height: auto;
   bottom: 160px;
   left: 80px;
}

#intro {
   display: inline;
   font-family: Times, Big Caslon, serif;
}

.links {
   text-indent: 0px;
   position: relative;
  display: inline;
  width: auto;
  height: auto;
}

.links p {
  display: inline;
}

.links a{
  color: black;
  font-family: Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2.85px solid black;
  line-height: 1.25em;
}

#fifteen {
   display: inline-block;
   width: 325px;
}

#essay {
   display: inline-block;
   width: 140px;
}

#game {
   display: inline-block;
   width: 100px;
}

#remix {
   display: inline-block;
   width: 120px;
}

a:hover{
  font-style: oblique;
}

.miscLinks{
   font-family: Arial, sans-serif;
   border-bottom: 3px dotted black;
}

.liNum {
   font-weight: 100;
   font-family: Times, Big Caslon, serif;
   font-size: 18px;
}
