* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: times, serif;
  font-size: 20px;
  line-height: normal;
}


#container {
   padding: 0em;
   display: inline;
}

#header {
  display: inline-block;
  font-family: Arial, sans-serif;
  padding-top: 0em;
  font-weight: 600;
}

.zone {
  display: inline-block;
  width: 40%;
  height: auto;
  font-size: 20px;
  padding: 40px 0em 80px 220px;
}

.zone p {
   padding: 20px 40px 0em 0px;
}

.zone ol {
   padding: 20px 40px 0em 80px;
}

.lvl {
   position: absolute;
   right: 80px;
   top: 40px;
   display: inline-block;
   width: auto;
   vertical-align: top;
}

.windows {
   margin: 0em 0em 65px 4.5em;
   width: 65px;
   height: 65px;
   display: inline-block;
   position: relative;
   background:transparent url("../images/windows-01.svg") center top no-repeat;
   color: black;
   text-align: center;
   vertical-align: middle;
   line-height: 65px;
   font-family: Arial, sans-serif;
   text-decoration: none;
}

.windows:hover {
   background:transparent url("../images/windows-02.svg") center top no-repeat;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted black;
   color: #2314D1;
   font-size: 22px;
}

.top-menu a:hover {
   font-style: oblique;
}

.btm-menu {
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 4.5em;
   display: block;
   left: 0px;
}

.btm-menu a {
   text-decoration: none;
}

.prev {
   left: 80px;
   bottom: 60px;
   position: absolute;
   font-size: 1.25em;
   font-family: Arial, sans-serif;
   width: auto;
}

.next {
   right: 80px;
   bottom: 60px;
   position: absolute;
   width: 50px;
   font-size: 1.5em;
}
