* {
  padding: 0px;
  margin: 0px;
}

.top-menu {
   position: fixed;
   top: 40px;
   left: 80px;
}

.top-menu a {
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   border-bottom: 2px dotted white;
   color: #F35545;
   font-size: 22px;
   vertical-align: top;
}
